body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Lexend', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Secular One', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Secular One', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Secular One', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #a21207 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #c97222 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #a21207 !important;
  border-color: #a21207 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #4f0903 !important;
  border-color: #4f0903 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4f0903 !important;
  border-color: #4f0903 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d8c3a5 !important;
  border-color: #d8c3a5 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #be9b69 !important;
  border-color: #be9b69 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #be9b69 !important;
  border-color: #be9b69 !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #c97222 !important;
  border-color: #c97222 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #7f4815 !important;
  border-color: #7f4815 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #7f4815 !important;
  border-color: #7f4815 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #a21207;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #4f0903 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #a21207 !important;
  border-color: #a21207 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d8c3a5;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #be9b69 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d8c3a5 !important;
  border-color: #d8c3a5 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c97222;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #7f4815 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c97222 !important;
  border-color: #c97222 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #a21207 !important;
}
.text-secondary {
  color: #d8c3a5 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #c97222 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #400703 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #b9945e !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #724113 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #a21207;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #c97222;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #a21207;
  border-color: #a21207;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #a21207;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f64032;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f5dac2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Secular One', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #a21207 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Secular One', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #a21207;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #a21207;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #a21207;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #a21207;
  border-bottom-color: #a21207;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #a21207 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d8c3a5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23a21207' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-u1CgDcRurX {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-u1CgDcRurX nav.navbar {
  position: fixed;
}
.cid-u1CgDcRurX .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u1CgDcRurX .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-u1CgDcRurX .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-u1CgDcRurX .dropdown-item:hover,
.cid-u1CgDcRurX .dropdown-item:focus {
  background: #a21207 !important;
  color: white !important;
}
.cid-u1CgDcRurX .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-u1CgDcRurX .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-u1CgDcRurX .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-u1CgDcRurX .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-u1CgDcRurX .nav-link {
  position: relative;
}
.cid-u1CgDcRurX .container {
  display: flex;
  margin: auto;
}
.cid-u1CgDcRurX .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u1CgDcRurX .dropdown-menu,
.cid-u1CgDcRurX .navbar.opened {
  background: #c97222 !important;
}
.cid-u1CgDcRurX .nav-item:focus,
.cid-u1CgDcRurX .nav-link:focus {
  outline: none;
}
.cid-u1CgDcRurX .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u1CgDcRurX .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u1CgDcRurX .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u1CgDcRurX .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u1CgDcRurX .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u1CgDcRurX .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u1CgDcRurX .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #c97222;
}
.cid-u1CgDcRurX .navbar.opened {
  transition: all 0.3s;
}
.cid-u1CgDcRurX .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u1CgDcRurX .navbar .navbar-logo img {
  width: auto;
}
.cid-u1CgDcRurX .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-u1CgDcRurX .navbar.collapsed {
  justify-content: center;
}
.cid-u1CgDcRurX .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u1CgDcRurX .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-u1CgDcRurX .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-u1CgDcRurX .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u1CgDcRurX .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u1CgDcRurX .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u1CgDcRurX .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u1CgDcRurX .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u1CgDcRurX .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-u1CgDcRurX .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u1CgDcRurX .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u1CgDcRurX .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u1CgDcRurX .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u1CgDcRurX .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u1CgDcRurX .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-u1CgDcRurX .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-u1CgDcRurX .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u1CgDcRurX .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-u1CgDcRurX .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u1CgDcRurX .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u1CgDcRurX .navbar.navbar-short {
  min-height: 60px;
}
.cid-u1CgDcRurX .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-u1CgDcRurX .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-u1CgDcRurX .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u1CgDcRurX .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u1CgDcRurX .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u1CgDcRurX .dropdown-item.active,
.cid-u1CgDcRurX .dropdown-item:active {
  background-color: transparent;
}
.cid-u1CgDcRurX .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u1CgDcRurX .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u1CgDcRurX .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u1CgDcRurX .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c97222;
}
.cid-u1CgDcRurX .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-u1CgDcRurX .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u1CgDcRurX ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u1CgDcRurX .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-u1CgDcRurX button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u1CgDcRurX button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-u1CgDcRurX button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u1CgDcRurX button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u1CgDcRurX button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u1CgDcRurX button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u1CgDcRurX nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u1CgDcRurX nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u1CgDcRurX nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u1CgDcRurX nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u1CgDcRurX .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-u1CgDcRurX a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u1CgDcRurX .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u1CgDcRurX .navbar {
    height: 70px;
  }
  .cid-u1CgDcRurX .navbar.opened {
    height: auto;
  }
  .cid-u1CgDcRurX .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-te6gXYHTxp {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/pejza-zimowy-2010-1632x1224.jpg");
}
.cid-te6gXYHTxp .mbr-fallback-image.disabled {
  display: none;
}
.cid-te6gXYHTxp .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-te6gXYHTxp .mbr-text,
.cid-te6gXYHTxp .mbr-section-btn {
  color: #232323;
}
.cid-te6gXYHTxp .card-title,
.cid-te6gXYHTxp .card-box {
  color: #000000;
  text-align: center;
}
.cid-te6gXYHTxp .mbr-text,
.cid-te6gXYHTxp .link-wrap {
  color: #ffffff;
}
.cid-sFF0SGinka {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/pejza-zimowy-2010-1632x1224.jpg");
}
.cid-sFF0SGinka .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sFF0SGinka .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sFF0SGinka .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sFF0SGinka .mbr-section-title {
  color: #000000;
}
.cid-sFF0SGinka .mbr-text,
.cid-sFF0SGinka .mbr-section-btn {
  color: #232323;
  text-align: left;
}
.cid-sFF0SGinka .mbr-section-title DIV {
  text-align: left;
}
.cid-tahDtfkQEu {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffe885;
}
.cid-tahDtfkQEu .line {
  background-color: #000000;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t9YKU4lwSB {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/portret-izy-2009.jpg");
}
.cid-t9YKU4lwSB .mbr-fallback-image.disabled {
  display: none;
}
.cid-t9YKU4lwSB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t9YKU4lwSB .item {
  padding-bottom: 2rem;
}
.cid-t9YKU4lwSB .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-t9YKU4lwSB .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-t9YKU4lwSB .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-t9YKU4lwSB .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-t9YKU4lwSB .carousel-control,
.cid-t9YKU4lwSB .close {
  background: #1b1b1b;
}
.cid-t9YKU4lwSB .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-t9YKU4lwSB .carousel-control-prev span {
  margin-right: 5px;
}
.cid-t9YKU4lwSB .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-t9YKU4lwSB .carousel-control-next span {
  margin-left: 5px;
}
.cid-t9YKU4lwSB .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-t9YKU4lwSB .close::before {
  content: '\e91a';
}
.cid-t9YKU4lwSB .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-t9YKU4lwSB .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-t9YKU4lwSB .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t9YKU4lwSB .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-t9YKU4lwSB .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-t9YKU4lwSB .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-t9YKU4lwSB .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-t9YKU4lwSB .carousel-indicators li.active,
.cid-t9YKU4lwSB .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-t9YKU4lwSB .carousel-indicators li::after,
.cid-t9YKU4lwSB .carousel-indicators li::before {
  content: none;
}
.cid-t9YKU4lwSB .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t9YKU4lwSB .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-t9YKU4lwSB .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-t9YKU4lwSB .carousel-indicators {
    display: none;
  }
}
.cid-t9YKU4lwSB .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-t9YKU4lwSB .carousel-inner > .active {
  display: block;
}
.cid-t9YKU4lwSB .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t9YKU4lwSB .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-t9YKU4lwSB .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-t9YKU4lwSB .carousel-control,
  .cid-t9YKU4lwSB .carousel-indicators,
  .cid-t9YKU4lwSB .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-t9YKU4lwSB .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-t9YKU4lwSB .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-t9YKU4lwSB .carousel-indicators .active,
.cid-t9YKU4lwSB .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-t9YKU4lwSB .carousel-indicators .active {
  background: #fff;
}
.cid-t9YKU4lwSB .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-t9YKU4lwSB .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-t9YKU4lwSB .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-t9YKU4lwSB .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-t9YKU4lwSB .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-t9YKU4lwSB .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-t9YKU4lwSB .carousel {
  width: 100%;
}
.cid-t9YKU4lwSB .modal-backdrop.in {
  opacity: 0.8;
}
.cid-t9YKU4lwSB .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-t9YKU4lwSB .modal.fade .modal-dialog,
.cid-t9YKU4lwSB .modal.in .modal-dialog {
  transform: none;
}
.cid-t9YKU4lwSB .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-t9YKU4lwSB H6 {
  text-align: center;
  color: #000000;
}
.cid-td08bd4iSk {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/pejza-zimowy-2010.jpg");
}
.cid-td08bd4iSk .mbr-fallback-image.disabled {
  display: none;
}
.cid-td08bd4iSk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-td08bd4iSk .mbr-text,
.cid-td08bd4iSk .mbr-section-btn {
  color: #232323;
}
.cid-td08bd4iSk .card-title,
.cid-td08bd4iSk .card-box {
  color: #a21207;
  text-align: center;
}
.cid-td08bd4iSk .mbr-text,
.cid-td08bd4iSk .link-wrap {
  color: #ffffff;
}
.cid-td08bd4iSk .card-box .mbr-text,
.cid-td08bd4iSk .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-taVwv7rlbg {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-taVwv7rlbg .mbr-section-title {
  text-align: center;
  color: #a21207;
}
.cid-taVwv7rlbg .mbr-section-subtitle {
  text-align: center;
}
.cid-taIt5TpvYC {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mbr-1920x1281.jpg");
}
.cid-taIt5TpvYC .mbr-overlay {
  background: #ffe161;
  opacity: 0.8;
}
.cid-taIt5TpvYC img,
.cid-taIt5TpvYC .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-taIt5TpvYC .item:focus,
.cid-taIt5TpvYC span:focus {
  outline: none;
}
.cid-taIt5TpvYC .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-taIt5TpvYC .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffe885;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-taIt5TpvYC .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-taIt5TpvYC .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-taIt5TpvYC .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-taIt5TpvYC .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-taIt5TpvYC .mbr-section-btn {
  margin-top: auto !important;
}
.cid-taIt5TpvYC .mbr-section-title {
  color: #a21207;
}
.cid-taIt5TpvYC .mbr-text,
.cid-taIt5TpvYC .mbr-section-btn {
  text-align: left;
}
.cid-taIt5TpvYC .item-title {
  text-align: left;
  color: #a21207;
}
.cid-taIt5TpvYC .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-taIt5TpvYC .mbr-section-subtitle {
  color: #000000;
}
.cid-td08LO1Clk {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/pejza-zimowy-2010.jpg");
}
.cid-td08LO1Clk .mbr-fallback-image.disabled {
  display: none;
}
.cid-td08LO1Clk .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-td08LO1Clk .mbr-text,
.cid-td08LO1Clk .mbr-section-btn {
  color: #232323;
}
.cid-td08LO1Clk .card-title,
.cid-td08LO1Clk .card-box {
  color: #a21207;
  text-align: center;
}
.cid-td08LO1Clk .mbr-text,
.cid-td08LO1Clk .link-wrap {
  color: #ffffff;
}
.cid-td08LO1Clk .card-box .mbr-text,
.cid-td08LO1Clk .mbr-section-btn {
  text-align: center;
  color: #000000;
}
.cid-taPj3gFNLK {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-taPj3gFNLK .mbr-section-title {
  text-align: center;
  color: #a21207;
}
.cid-taPj3gFNLK .mbr-section-subtitle {
  text-align: center;
  color: #000000;
}
.cid-taPgkxx1BN {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffe161;
}
.cid-taPgkxx1BN .mbr-fallback-image.disabled {
  display: none;
}
.cid-taPgkxx1BN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-taPgkxx1BN .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-taPgkxx1BN .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-taPgkxx1BN .card-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-taPgkxx1BN .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-taPgkxx1BN .row .row {
    flex-direction: column-reverse;
  }
  .cid-taPgkxx1BN .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-taPgkxx1BN .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-taPgkxx1BN .card-subtitle {
  color: #000000;
}
.cid-taPgkxx1BN .mbr-text {
  color: #555555;
}
.cid-taPgkxx1BN .mbr-text,
.cid-taPgkxx1BN .mbr-section-btn {
  color: #000000;
}
.cid-taPgkxx1BN .card-title {
  color: #a21207;
}
.cid-taPgMwHqzR {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffe161;
}
.cid-taPgMwHqzR .mbr-fallback-image.disabled {
  display: none;
}
.cid-taPgMwHqzR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-taPgMwHqzR .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-taPgMwHqzR .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-taPgMwHqzR .card-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-taPgMwHqzR .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-taPgMwHqzR .row .row {
    flex-direction: column-reverse;
  }
  .cid-taPgMwHqzR .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-taPgMwHqzR .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-taPgMwHqzR .card-subtitle {
  color: #000000;
}
.cid-taPgMwHqzR .mbr-text {
  color: #555555;
}
.cid-taPgMwHqzR .mbr-text,
.cid-taPgMwHqzR .mbr-section-btn {
  color: #000000;
}
.cid-taPgMwHqzR .card-title {
  color: #a21207;
}
.cid-taPmh3BmQU {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffe161;
}
.cid-taPmh3BmQU .mbr-fallback-image.disabled {
  display: none;
}
.cid-taPmh3BmQU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-taPmh3BmQU .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-taPmh3BmQU .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-taPmh3BmQU .card-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-taPmh3BmQU .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-taPmh3BmQU .row .row {
    flex-direction: column-reverse;
  }
  .cid-taPmh3BmQU .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-taPmh3BmQU .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-taPmh3BmQU .card-subtitle {
  color: #000000;
}
.cid-taPmh3BmQU .mbr-text {
  color: #555555;
}
.cid-taPmh3BmQU .mbr-text,
.cid-taPmh3BmQU .mbr-section-btn {
  color: #000000;
}
.cid-taPmh3BmQU .card-title {
  color: #a21207;
}
.cid-taPmizgs1d {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-taPmizgs1d .mbr-fallback-image.disabled {
  display: none;
}
.cid-taPmizgs1d .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-taPmizgs1d .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-taPmizgs1d .card-wrapper {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-taPmizgs1d .card-wrapper {
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
.cid-taPmizgs1d .row {
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-taPmizgs1d .row .row {
    flex-direction: column-reverse;
  }
  .cid-taPmizgs1d .row .row .img-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-taPmizgs1d .img-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-taPmizgs1d .card-subtitle {
  color: #000000;
}
.cid-taPmizgs1d .mbr-text {
  color: #555555;
}
.cid-taPmizgs1d .mbr-text,
.cid-taPmizgs1d .mbr-section-btn {
  color: #000000;
}
.cid-taPmizgs1d .card-title {
  color: #a21207;
}
.cid-tcCajgjYfd {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/imgp5765-596x410.jpg");
}
.cid-tcCajgjYfd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tcCajgjYfd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tcCajgjYfd .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tcCajgjYfd .row {
    flex-direction: column-reverse;
  }
  .cid-tcCajgjYfd .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tcCajgjYfd .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .cid-tcCajgjYfd .card-wrapper {
    padding-right: 2rem;
  }
}
.cid-tcCajgjYfd .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tcCajgjYfd .card-title {
  color: #a21207;
}
.cid-u1BVARz4Rg {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-646x470.jpg");
}
.cid-u1BVARz4Rg .mbr-fallback-image.disabled {
  display: none;
}
.cid-u1BVARz4Rg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-u1BVARz4Rg .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-u1BVARz4Rg .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-u1BVARz4Rg .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-u1BVARz4Rg .card-wrapper {
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-u1BVARz4Rg .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-u1BVARz4Rg .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tcCbtDXBhu {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-tcCbtDXBhu .mbr-fallback-image.disabled {
  display: none;
}
.cid-tcCbtDXBhu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tcCbtDXBhu .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tcCbtDXBhu .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-tcCbtDXBhu .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tcCbtDXBhu .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tcCbtDXBhu .mbr-iconfont {
  font-size: 3rem;
  padding-right: 1.5rem;
  color: #a21207;
}
.cid-tcCbtDXBhu .mbr-section-title {
  color: #a21207;
}
.cid-tcCbtDXBhu P {
  color: #a21207;
  text-align: center;
}
.cid-ta3V5oBxaO {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #c97222;
}
.cid-ta3V5oBxaO .mbr-fallback-image.disabled {
  display: none;
}
.cid-ta3V5oBxaO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ta3V5oBxaO .media-container-row {
  justify-content: space-between;
}
.cid-ta3V5oBxaO .text-content {
  max-width: 50%;
}
@media (max-width: 768px) {
  .cid-ta3V5oBxaO .text-content {
    max-width: none;
  }
}
.cid-ta3V5oBxaO .mbr-iconfont-social {
  margin: 0.5rem;
  font-size: 32px;
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #000000;
  border: 2px solid #000000;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-ta3V5oBxaO .mbr-iconfont-social:before {
  padding: 0.6rem;
}
.cid-ta3V5oBxaO .mbr-iconfont-social:hover {
  background-color: #000000;
  color: #ffffff;
}
@media (max-width: 768px) {
  .cid-ta3V5oBxaO .icons {
    justify-content: center !important;
  }
  .cid-ta3V5oBxaO .text-content * {
    text-align: center;
  }
}
.cid-u1C6XjP9z9 .navbar-dropdown {
  position: relative !important;
}
.cid-u1C6XjP9z9 .navbar-dropdown {
  position: absolute !important;
}
.cid-u1C6XjP9z9 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u1C6XjP9z9 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-u1C6XjP9z9 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-u1C6XjP9z9 .dropdown-item:hover,
.cid-u1C6XjP9z9 .dropdown-item:focus {
  background: #a21207 !important;
  color: white !important;
}
.cid-u1C6XjP9z9 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-u1C6XjP9z9 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-u1C6XjP9z9 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-u1C6XjP9z9 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-u1C6XjP9z9 .nav-link {
  position: relative;
}
.cid-u1C6XjP9z9 .container {
  display: flex;
  margin: auto;
}
.cid-u1C6XjP9z9 .iconfont-wrapper {
  color: #05386b !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u1C6XjP9z9 .dropdown-menu,
.cid-u1C6XjP9z9 .navbar.opened {
  background: #c97222 !important;
}
.cid-u1C6XjP9z9 .nav-item:focus,
.cid-u1C6XjP9z9 .nav-link:focus {
  outline: none;
}
.cid-u1C6XjP9z9 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-u1C6XjP9z9 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u1C6XjP9z9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-u1C6XjP9z9 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-u1C6XjP9z9 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-u1C6XjP9z9 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-u1C6XjP9z9 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #c97222;
}
.cid-u1C6XjP9z9 .navbar.opened {
  transition: all 0.3s;
}
.cid-u1C6XjP9z9 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-u1C6XjP9z9 .navbar .navbar-logo img {
  width: auto;
}
.cid-u1C6XjP9z9 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-u1C6XjP9z9 .navbar.collapsed {
  justify-content: center;
}
.cid-u1C6XjP9z9 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-u1C6XjP9z9 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-u1C6XjP9z9 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u1C6XjP9z9 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u1C6XjP9z9 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-u1C6XjP9z9 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-u1C6XjP9z9 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-u1C6XjP9z9 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-u1C6XjP9z9 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-u1C6XjP9z9 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-u1C6XjP9z9 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-u1C6XjP9z9 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-u1C6XjP9z9 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-u1C6XjP9z9 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-u1C6XjP9z9 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-u1C6XjP9z9 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-u1C6XjP9z9 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-u1C6XjP9z9 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-u1C6XjP9z9 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-u1C6XjP9z9 .navbar.navbar-short {
  min-height: 60px;
}
.cid-u1C6XjP9z9 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-u1C6XjP9z9 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-u1C6XjP9z9 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u1C6XjP9z9 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u1C6XjP9z9 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u1C6XjP9z9 .dropdown-item.active,
.cid-u1C6XjP9z9 .dropdown-item:active {
  background-color: transparent;
}
.cid-u1C6XjP9z9 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u1C6XjP9z9 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-u1C6XjP9z9 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-u1C6XjP9z9 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c97222;
}
.cid-u1C6XjP9z9 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-u1C6XjP9z9 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u1C6XjP9z9 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-u1C6XjP9z9 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-u1C6XjP9z9 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-u1C6XjP9z9 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #c97222;
}
.cid-u1C6XjP9z9 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u1C6XjP9z9 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u1C6XjP9z9 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u1C6XjP9z9 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u1C6XjP9z9 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u1C6XjP9z9 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u1C6XjP9z9 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u1C6XjP9z9 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u1C6XjP9z9 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-u1C6XjP9z9 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u1C6XjP9z9 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u1C6XjP9z9 .navbar {
    height: 70px;
  }
  .cid-u1C6XjP9z9 .navbar.opened {
    height: auto;
  }
  .cid-u1C6XjP9z9 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tcOWFv0nHz {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/pejza-zimowy-2010-1632x1224.jpg");
}
.cid-tcOWFv0nHz .mbr-section-title {
  color: #000000;
}
.cid-tcOWFv0nHz .mbr-section-subtitle {
  color: #232323;
}
.cid-tcOWFvmt7A {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-tcOWFvmt7A .mbr-fallback-image.disabled {
  display: none;
}
.cid-tcOWFvmt7A .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tcOWFvmt7A .oldcost {
  text-decoration: line-through;
  color: #353535;
}
.cid-tcOWFvmt7A .currentcost {
  color: #f21b0a;
  text-align: left;
}
.cid-tcOWFvmt7A .card-wrapper {
  border-radius: 4px;
  background: #fafafa;
}
@media (min-width: 992px) {
  .cid-tcOWFvmt7A .text-box {
    padding: 2rem;
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tcOWFvmt7A .text-box {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tcOWFvmt7A .text-box {
    padding: 1rem;
  }
}
.cid-tcOWFvmt7A .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tcOWFvmt7A H5 {
  color: #a21207;
}
.cid-tcOWFvEitc {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/pejza-zimowy-2010-1632x1224.jpg");
}
.cid-tcOWFvEitc .mbr-overlay {
  background: #ffe161;
  opacity: 0.6;
}
.cid-tcOWFvEitc img,
.cid-tcOWFvEitc .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tcOWFvEitc .item:focus,
.cid-tcOWFvEitc span:focus {
  outline: none;
}
.cid-tcOWFvEitc .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tcOWFvEitc .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-tcOWFvEitc .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tcOWFvEitc .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-tcOWFvEitc .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tcOWFvEitc .mbr-section-title {
  color: #232323;
}
.cid-tcOWFvEitc .mbr-text,
.cid-tcOWFvEitc .mbr-section-btn {
  text-align: left;
}
.cid-tcOWFvEitc .item-title {
  text-align: left;
  color: #a21207;
}
.cid-tcOWFvEitc .item-subtitle {
  text-align: left;
  color: #000000;
}
.cid-tcP2N8z56v {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-646x470.jpg");
}
.cid-tcP2N8z56v .mbr-fallback-image.disabled {
  display: none;
}
.cid-tcP2N8z56v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tcP2N8z56v .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tcP2N8z56v .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tcP2N8z56v .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tcP2N8z56v .card-wrapper {
  border-radius: 4px;
  background-color: #ffffff;
}
.cid-tcP2N8z56v .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tcP2N8z56v .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tvVpQiSUw2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #ffe161;
}
.cid-tvVpQiSUw2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tvVpQiSUw2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tvVpQiSUw2 .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-tvVpQiSUw2 .card-wrapper {
  margin-bottom: 2rem;
  display: flex;
  border-radius: 4px;
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-tvVpQiSUw2 .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tvVpQiSUw2 .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-tvVpQiSUw2 .mbr-iconfont {
  font-size: 3rem;
  padding-right: 1.5rem;
  color: #a21207;
}
.cid-tvVpQiSUw2 .mbr-section-title {
  color: #a21207;
}
.cid-tvVpQiSUw2 P {
  color: #a21207;
  text-align: center;
}
